.movies-card-list {
  margin: 0 auto;
  padding: 70px 0 12px;
  max-width: 1140px;
}

.movies-card-list__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, calc((100% - 60px) / 3)));
  grid-auto-rows: auto;
  gap: 43px 30px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

@media screen and (max-width: 1280px) {
  .movies-card-list {
    padding-left: 70px;
    padding-right: 70px;
    max-width: 1280px;
  }
}

@media screen and (max-width: 1040px) {
  .movies-card-list__list {
    grid-template-columns: repeat(auto-fit, minmax(250px, calc((100% - 30px) / 2)));
    row-gap: 45px;
  }
}

@media screen and (max-width: 768px) {
  .movies-card-list {
    padding-left: 30px;
    padding-right: 30px;
    max-width: 768px
  }
}

@media screen and (max-width: 590px) {
  .movies-card-list__list {
    grid-template-columns: 1fr;
    row-gap: 36px;
  }
}

@media screen and (max-width: 320px) {
  .movies-card-list {
    padding: 40px 10px 10px;
    max-width: 320px;
  }
}