.page {
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Inter', Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}