.menu {
  box-sizing: border-box;
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  visibility: hidden;
  z-index: 1;
}

.menu_opened {
  visibility: visible;
}

.menu__container {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  right: -520px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 159px;
  padding-bottom: 90px;
  max-width: 520px;
  width: 100%;
  height: 100%;
  background-color: #202020;
  visibility: hidden;
  transition: transform 0.5s, visibility 0.5s;
}

.menu__container_opened {
  transform: translateX(-100%);
  visibility: visible;
}

.menu__close-button {
  position: absolute;
  top: 22px;
  right: 22px;
  display: block;
  padding: 0;
  width: 32px;
  height: 32px;
  background: url(../../images/navigation/close-button.svg);
  background-size: cover;
  border: none;
  outline: 0;
  cursor: pointer;
}

.menu__close-button:hover {
  opacity: 0.8;
}

.menu__button {
  box-sizing: border-box;
  display: block;
  padding: 8px 20px;
  font-weight: 500;
  line-height: 16px;
  text-align: center;
  text-decoration: none;
}

.menu__button:hover {
  opacity: 0.8;
}

.menu__button_type_account {
  min-width: 100px;
  font-size: 14px;
  color: #fff;
  background-color: #313131;
  border-radius: 20px;
}

@media screen and (max-width: 520px) {
  .menu__container {
    right: -100%;
  }
}

@media screen and (max-width: 320px) {
  .menu__close-button {
    top: 13px;
    right: 13px;
  }

  .menu__container {
    padding-top: 144px;
    padding-bottom: 46px;
  }
}