.message-from-api {
  display: block;
  padding-bottom: 15px;
  min-height: 12px;
  font-size: 11px;
  line-height: 12px;
  text-align: center;
  color: #ee3465;
}

.message-from-api_type_success {
  color: #3ddc84;
}