.navigation-tabs {
  margin: 0;
  padding: 151px 0 0;
  list-style-type: none;
}

.navigation-tabs__item {
  display: inline-block;
  margin-right: 10px;
}

.navigation-tabs__item:last-of-type {
  margin-right: 0;
}

.navigation-tabs__link {
  box-sizing: border-box;
  display: block;
  padding: 10px 13px;
  min-width: 96px;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #303030;
  border-radius: 10px;
}

.navigation-tabs__link:hover {
  opacity: 0.7;
}

@media screen and (max-width: 768px) {
  .navigation-tabs {
    padding-top: 314px;
  }
}

@media screen and (max-width: 470px) {
  .navigation-tabs {
    padding-top: 212px;
  }

  .navigation-tabs__item {
    margin-right: 6px;
  }

  .navigation-tabs__link {
    padding: 5px 12px;
    min-width: 82px;
    font-size: 10px;
    border-radius: 6px;
  }
}